.putter-type-block, .headcover-block {
    h4 {
        text-align: center;
    }
}

form.putter-type-preference, form.headcover-preference {
    
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    h4 {
        margin-bottom: 40px;
    }

    label {
        font-size: 21px;
        vertical-align: middle;
        margin-left: 10px;

    }

    input[type="radio"] {
        accent-color: #00a669;
        margin-right: 10px;
    }

    input[type='submit'] {
        margin-top: 40px;
    }
}


