.putter-type-block h4, .headcover-block h4 {
  text-align: center;
}

form.putter-type-preference, form.headcover-preference {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
form.putter-type-preference h4, form.headcover-preference h4 {
  margin-bottom: 40px;
}
form.putter-type-preference label, form.headcover-preference label {
  font-size: 21px;
  vertical-align: middle;
  margin-left: 10px;
}
form.putter-type-preference input[type=radio], form.headcover-preference input[type=radio] {
  accent-color: #00a669;
  margin-right: 10px;
}
form.putter-type-preference input[type=submit], form.headcover-preference input[type=submit] {
  margin-top: 40px;
}
